
.icon-searchsearch:before { content: '\e800'; } /* '' */
.icon-searchangle-up:before { content: '\f106'; } /* '' */
.icon-searchangle-down:before { content: '\f107'; } /* '' */
.icon-searchsearch-2:before { content: '\f50d'; } /* '' */
